<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="header">Inventory Dashboard</div>
    </header>
    <div class="container">
      <div class="recent"></div>
      <div class="graph"></div>
      <div class="valuation"></div>
    </div>
  </body>
</html>
