<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{{url_for('static',filename='logo.png')}}"
      type="image/png"
      sizes="74x74"
    />
    <title>Delete</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='delete.css')}}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
      <div class="navbar">
        <div class="navbar-toggle" onclick="toggleNav()">&#9776;</div>
        <div class="header">
          Stock Flow
        </div>
        <div class="navbar-brand">
          <a href="/">
            <img src="{{url_for('static',filename='icons8-logout-64.png')}}" alt="img" />
          </a>
        </div>
      </div>
      <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()"
          >&times;</a
        >
        <div class="overlay-content">
          <a href="/">Home</a>
          <a href="/search">Search Inventory</a>
          <a href="/index">Add Inventory</a>
          <a href="/dashboard">Dashboard</a>
          <a href="/update">Update Inventory</a>
        </div>
      </div>
      <script>
        function toggleNav() {
          var overlay = document.getElementById("myNav");
          if (overlay.style.width === "100%") {
            overlay.style.width = "0";
          } else {
            overlay.style.width = "100%";
          }
        }
      </script>
    <form method="POST" action="/delete">
      <div class="lst_header">
        <div class="content">Select to Delete Your Products in Stock</div>
      <button type="submit" class="delete-button">
        <i class="fas fa-trash-alt"></i> Delete
      </button>
      </div>
      {% block content %}
      <ul type="none" class="list_item">
        {% for item in products %}
        <li>
          <input type="checkbox" class="checkbox" value="{{item.0}}" name="item_ids" />
          <div class="product-details">
            <p style="color: black">{{item.0}}</p>
            <p style="color: #818181">Product Type: {{item.1}}</p>
            <p style="color: #818181">Current Quantity: {{item.2}}</p>
            <p style="color: greenyellow;">&#8377 <span style="color: rgb(0, 0, 0); display: inline;">{{item.3}}</span></p>
            <p style="color: #818181">Date of Stock Added: {{item.5}}</p>
            
          </div>
        </li>
        {% endfor %}
      </ul>
      {%endblock%}
    </form>
  </body>
</html>
