<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Logins</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',filename='styles.css')}}"
    />
  </head>
  <body>
    {%block content%}
    <img
      class="stock_img"
      src="{{url_for('static',filename='undraw_stock_prices_re_js33.svg')}}"
      alt="image"
    />
    <div class="background"></div>
    <div class="card">
      <img
        class="logo"
        src="{{url_for('static',filename='icons8-login-64.png')}}"
      />
      <h2>Create your Account Here</h2>

      <form class="form" method="POST" action="/create_account">
        <input type="text" name="uid" id="uid" placeholder="Username" />
        <input type="password" name="pwd" id="pwd" placeholder="Password" />
        <button type="submit">Create Account</button>
      </form>
      <footer>
        Already have an account? Sign up
        <a href="/">here</a>
      </footer>
    </div>
    {% if error: %}
    <div class="error"><p>{{error}}</p></div>
    {% endif %} {%endblock%}
  </body>
</html>
